# CONDITIONAL STATEMENTS

In [1]:
# Condition with if statement
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
# elif statement
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
# Else statement
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
# Else without elif 
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [5]:
# If
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [6]:
# If ... Else
a = 2
b = 330

print("A") if a > b else print("B")

B

# LOOPING STATEMENTS

### 1)For loop:

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [11]:
# loop through string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [12]:
# Break

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [13]:
# Continue

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [14]:
# Range function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [15]:
# else in for loop

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [16]:
# Nested Loop

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
# Pass Statement

for x in [0, 1, 2]:
  pass