# String

In [3]:
# strings are nothing but array of characters
#String with single quotes
String1='Welcome to Python World'
print(String1)
print(type(String1))

#String with Double quotes
String2="Welcome to Python World"
print(String2)
print(type(String2))

#String with triple Quotes 
String3='''Welcome to Python World'''
print(String3)
print(type(String3))

#String with triple quotes allows multiple line
String4= '''Welcome
to
Python World'''
print(String4)
print(type(String4))

Welcome to Python World
<class 'str'>
Welcome to Python World
<class 'str'>
Welcome to Python World
<class 'str'>
Welcome
to
Python World
<class 'str'>

In [22]:
name='Python is "fantastic"'
print(name)
## Accessing String Elements
print(name[7])
## Negative Indexing - starts with end
print(name[-1])
print(name[-9])
# Slicing
str2=name[2:7]
print(str2)
print(name[2:])

Python is "fantastic"
i
"
a
thon
thon is "fantastic"

In [23]:
print(name[:16])

Python is "fanta

In [20]:
print(len(name))

21

In [18]:
name[-21:-5]

'Python is "fanta'

In [2]:
# string Repeatation
name*10

'Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"Python is "fantastic"'

In [19]:
### String Methods

In [24]:
name="  Hello World  !!  "

In [25]:
# 1. Striping Method
print(name.strip())

Hello World  !!

In [26]:
# 2. lower Method
print(name.lower())

  hello world  !!

In [27]:
# 3. Upper Method
print(name.upper())

  HELLO WORLD  !!

In [28]:
# 4. Replace Method
print(name.replace("H","T"))

  Tello World  !!

In [29]:
# 5. Split Method
name="Hello, World"
print(name.split(","))
str1,str2=name.split(",")
print(str1)
print(str2)

['Hello', ' World']
Hello
 World

In [30]:
# check substring in main string
str1="we are in panvel in today"
if "panvel" in str1:
    print("found")
else:
    print("not found")

found

In [31]:
# Concatination
str1="demo"
str2="test"
str3=str1+str2
print(str3)
str3=str1+" "+str2
print(str3)

demotest
demo test

In [32]:
# format - format strings according to requirements
age=36
txt="hi i am john and my age is {}"
print(txt.format(age))

hi i am john and my age is 36

In [33]:
q=12
p=35
ino=10
order="i have ordered {1} items, each of {0} quantities with price {2}"
print(order.format(ino,q,p))

i have ordered 12 items, each of 10 quantities with price 35

In [34]:
name="vdf"
print(name.isalpha())

True

In [35]:
name="amol"

In [36]:
sname=name

In [37]:
sname

'amol'

In [38]:
name

'amol'

In [39]:
name=" amol patil"

In [40]:
sname

'amol'

In [1]:
# Python program to illustrate
# built-in method bool()

# Returns False as x is False
x = False
print(bool(x))

# Returns True as x is True
x = True
print(bool(x))

# Returns False as x is not equal to y
x = 5
y = 10
print(bool(x==y))

# Returns False as x is None
x = None
print(bool(x))

# Returns False as x is an empty sequence
x = ()
print(bool(x))

# Returns False as x is an empty mapping
x = {}
print(bool(x))

# Returns False as x is 0
x = 0.0
print(bool(x))

# Returns True as x is a non empty string
x = 'Python'
print(bool(x))

False
True
False
False
False
False
False
True

# Format

In [2]:
# format() function
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [3]:
# Placeholder

#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [4]:
# left-align 
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [7]:
# right-align 
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [6]:
#Center-align
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [8]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [9]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [10]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.